.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.inputField {
  flex-grow: 1;
  min-width: 200px;
}

.inputField:first-of-type {
  max-width: 300px;
}
